:local(.container) {
    padding: 10px;
}
:local(.title) {
    font-family: Roboto;
    text-align: center;
    width: 100%;
    color: #343434;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(0, 188, 212);
}
:local(.table) {
    background-color: transparent !important;
    width: calc(~"100% - 20px") !important;
    th {
        font-size: 15px !important;
        font-style: bold;
    }
    td {
        font-size: 12px !important;
    }
    * {
        color: #343434 !important;
    }
}
