:local(.container) {
    width: 100%;
    padding: 10px;
}
:local(.title) {
    font-family: Roboto;
    text-align: center;
    width: 100%;
    color: #fff;
}
:local(.table) {
    background-color: transparent !important;
    width: calc(~"100% - 20px") !important;
    th {
        font-size: 15px !important;
        font-style: bold;
    }
    td {
        font-size: 10px !important;
    }
    * {
        color: #fff !important;
    }
}
