:local(.container) {
    padding: 10px;
}
:local(.title) {
    font-family: Roboto;
    color: #343434;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(0, 188, 212);
}
:local(.info_container) {
    width: calc(~"50% - 20px");
    float: left;
    height: 220px;
    margin-top: 60px;
    padding-right: 10px;
    border-right: 1px solid;
    border-right-color: rgb(0, 188, 212);
}
:local(.table) {
    background-color: transparent !important;
    th {
        font-size: 22px !important;
        font-style: bold;
    }
    td {
        font-size: 15px !important;
    }
    * {
        color: #343434 !important;
        border-color: rgb(0, 188, 212) !important;
    }
}
:local(.icon_container) {
    width: calc(~"50% - 20px");
    height: 80%;
    margin: 10px;
    float: left;
    margin-left: 10px;
}
